.presets {
  min-height: 400px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  .title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
  }
  .info {
    font-size: var(--font-size-xs);
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      margin-left: 4px;
    }
  }
}
.resultCount {
  margin-bottom: 12px;
}