.banner {
  border: solid 2px var(--color-blue-50);
  background-color: var(--color-blue-10);
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  max-height: 644px;
  .leftBar {
    max-width: 480px;
    padding: 80px 0;
    padding-right: 450px;
    z-index: 2;
    .authors {
      display: flex;
      align-items: center;
      img {
        margin-left: 10px;
        height: 40px;
      }
    }
    .header {
      margin-top: 30px;
      .title {
        font-size: var(--font-size-3xl);
        line-height: var(--font-line-height-3xl);
        font-weight: var(--font-weight-bold);
      }
      .subtitle {
        margin-top: 20px;
        font-size: var(--font-size-lg);
        line-height: var(--font-line-height-lg);
      }
    }
    .buttonHolder {
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  } 
  .rightBar {
    position: relative;
    z-index: 3;
    transform: translateX(25%) translateY(-43%);
    display: flex;
    flex-direction: column;
    align-items: center;
    svg {
      pointer-events: none;
      transform: translateY(-8%);
    }
    .phoneBackground {
      background-color: var(--color-blue-50);
      width: fit-content;
      border-radius: 24px;
      transform: translateY(-750px);
      .phone {
        border: solid 2px var(--color-blue-50);
        border-radius: 24px;
        background-color: white;
        transform: translateX(10px) translateY(-8px);
        padding-bottom: 300px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        .notch {
          background-color: var(--color-blue-50);
          width: 120px;
          height: 44px;
          border-radius: 22px;
          position: absolute;
          transform: translateX(115px) translateY(-22px);
        }
        .buttonHolder {
          padding: 50px 30px;
          .row {
            display: flex;
            .buttonBackground {
              background-color: var(--color-blue-50);
              border-radius: 4px;
              margin: 20px;
              .button {
                background-color: white;
                border: solid 2px var(--color-blue-50);
                border-radius: 4px;
                padding: 8px;
                transform: translateX(3px) translateY(-3px);
                display: flex;
                justify-content: center;
                align-items: center;
                .emoji {
                  width: 80px;
                  height: 80px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes circle1AnimationWave {
  0%, 100% { r: 500; }
  50% { r: 580; }
}
.circle1 {
  transition: all 0.2s;
  animation: circle1AnimationWave 5s ease-in-out infinite;
}
@keyframes circle2AnimationWave {
  0%, 100% { r: 400; }
  50% { r: 480; }
}
.circle2 {
  transition: all 0.2s;
  animation: circle2AnimationWave 5s ease-in-out infinite;
  animation-delay: 0.5s;
}
@keyframes circle3AnimationWave {
  0%, 100% { r: 300; }
  50% { r: 380; }
}
.circle3 {
  transition: all 0.2s;
  animation: circle3AnimationWave 5s ease-in-out infinite;
  animation-delay: 1s;
}
@keyframes circle4AnimationWave {
  0%, 100% { r: 200; }
  50% { r: 280; }
}
.circle4 {
  transition: all 0.2s;
  animation: circle4AnimationWave 5s ease-in-out infinite;
  animation-delay: 1.5s;
}

.red {
  // #ff6259
  background-color: #ff817a;
  fill: #cc4e47;
  stroke: #993b35;
}
.yellow {
  // #ffe04b
  background-color: #ffe66f;
  fill: #ccb33c;
  stroke: #99862d;
}
.green {
  // #82cab2
  background-color: #9bd5c1;
  fill: #68a28e;
  stroke: #4e796b;
}