.background {
  background-color: var(--color-blue-50);
  width: fit-content;
  border-radius: 4px;
}
.innerHolder {
  display: flex;
  padding: 14px 24px;
  border: solid 2px var(--color-blue-50);
  border-radius: 4px;
  transform: translateX(3px) translateY(-3px);
  font-size: var(--font-size-md);

  img {
    margin-left: 5px;
    transform: translateX(0px);
    transition: transform 0.2s;
  }

  cursor: pointer;
  transition: transform 0.2s;
  &:hover {
    img {
      transform: translateX(3px);
    }
  }
  &:active {
    transform: translateX(0) translateY(0);
  }
}
.filled {
  background-color: var(--color-blue-20);
}
.unfilled {
  background-color: white;
}