---
import { BasicLayout } from './components/Layouts/BasicLayout';
import { TopBar } from './components/TopBar/TopBar';
import { TopBanner } from './components/TopBanner/TopBanner';
import './index.css';
---

<!doctype html>
<html lang="en" class="bg-black">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>title</title>
	</head>
	<body>

		<BasicLayout>
			<TopBar />
		</BasicLayout>
		<TopBanner />
	
	</body>
</html>
