.filters {
  padding-top: 20px;
  padding-bottom: 16px;
  position: sticky;
  top: 55px;
  background-color: var(--color-blue-10);
  z-index: 100;
  .optionsBar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .tagsBar {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
  }
  .tagMargin {
    margin-top: 16px;
  }
}