.tabs {
  margin-top: 5px;

  .tabsHeader {
    display: flex;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;

    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: scrollbar-color 0.3s;
    &:hover {
      scrollbar-color: var(--color-blue-30, #b0b0b0) transparent;
    }
    &::-webkit-scrollbar {
      height: 6px; /* Horizontal scrollbar height */
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 3px;
      transition: background-color 0.3s;
    }
    &:hover::-webkit-scrollbar-thumb {
      background-color: var(--color-blue-30, #b0b0b0); /* Visible on hover */
    }

    .tab {
      padding: 8px 32px;
      border: none;
      font-size: var(--font-size-xs);
      font-weight: var(--font-weight-semibold);
      cursor: pointer;
      transition: all 0.2s ease;
      border-bottom: 2px solid var(--color-blue-10);

      &:hover {
        background-color: var(--color-blue-5, #f0f4ff);
      }

      &.active {
        border-bottom: 2px solid var(--color-blue-50);
        background-color: var(--color-blue-10);
      }
    }
  }

  .contentArea {
    overflow-x: auto;
    margin-top: 10px;
  }
}
