.checkboxLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  user-select: none;

  .checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-blue-50);
    border-radius: 4px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      border-color: var(--color-blue-80);
    }

    &.checked {
      background-color: var(--color-blue-50);
      border-color: var(--color-primary);

      .checkmark {
        width: 15px;
      }
    }
  }

  .label {
  }
}
