.tag {
  display: inline-flex;
  align-items: center;
  padding: 6px 8px;
  border-radius: 20px;
  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-medium);
  white-space: nowrap;
  transition: all 0.2s ease;
  line-height: 100%;

  &:hover {
    cursor: pointer;
  }

  &.white {
    background-color: white;
    &:hover {}
  }

  &.blue {
    background-color: var(--color-blue-20);

    &:hover {}
  }

  .xIcon {
    width: 15px;
    height: 15px;
    margin-left: 4px;
    cursor: pointer;
  }
}