# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcscmblueprint
*.xcuserstate

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives
*.xcarchive

# App files
*.ipa
*.dSYM

# Other
*.swp
*.swo
*.orig
*.DS_Store

# Temporary files
*.tmp
*.temp

# Simulator devices
Devices/
